/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General styles */
:root {
    --main-color: #ff4500;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #DAE0E6;

}
/* Header */

header{
    /* position: fixed;
    left: 0%;
    top: 0%;
    width: 100%; */
    background-color: #fff;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
header nav img{
    width: 6rem;
}
.btns .btn, .add-reddit-btn .create-post-btn, .top-btn{
    border: 2px solid var(--main-color);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--main-color);
    background-color: #fff;
    transition: all 0.3s ;

}
 .btns .btn:hover, .add-reddit-btn .create-post-btn:hover, .top-btn:hover{
    color: #fff;
    background-color: var(--main-color);
}
.btns .btn a ,.top-btn a {
    color:var(--main-color);
    text-decoration: none;
}
.btns .btn:hover a, .top-btn:hover a{
    color: white;
}
.top-btn{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
}
.show-top-btn{
    display: block;
}
header input{
    display: block;
    width: 25rem ;
    padding: 10px 18px ;
    background-color: #F6F7F8;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.add-reddit-btn .create-post-btn{
    display: block;
    margin: 2rem 2rem 2rem auto;
    border-radius: 10px 40px;
    padding: 0.9rem 4.2rem;

}

/* Forms */
.overlay{
    background-color: rgba(0, 0, 0, 0.379);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
}
.show-overlay{
    display: flex;
}
.form-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    width: 22rem;
    border: 1px solid var(--main-color);
    margin: 20px auto;
    padding: 20px 0;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: relative;
}
.form-card .x-icon{
    position: absolute;
    right: 0.8rem;
    top: 0.8em;
    cursor: pointer;
}
.form-card h3{
    color: var(--main-color);
}
form{
    width: 100%;
}
form input, form textarea{
    display: block;
    margin: 10px auto;
    width: 80%;
    border: 1px solid var(--main-color);
    padding: 10px 15px;
    border-radius: 25px;
    transition: all 0.5s;
}
form input:focus, form textarea:focus{
    transform: scale(1.1);
    outline: none;
}
form button{
    background-color: var(--main-color);
    color: #fff;
    display: block;
    margin: auto;
    border: 1px solid var(--main-color);
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.1rem;
}
form button:hover{
    color: var(--main-color);
    background-color: #fff;
}
form input:valid, form textarea:valid{
    color: green;
}
form input:invalid, form textarea:invalid{
    color: red;
}
.error{
    color: red;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    margin: auto;
    display: none;
}
.show-error{
    display: block;
}
/* My alert */
.my-alert{
    padding: 10px 40px;
    color: #fff;
    /* position: absolute; */
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    border-radius: 10px;
}
.my-alert-error{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}
.my-alert-done{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
/* posts */

.posts, .user-likes{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    align-items: center;
    margin: 1.7rem;
    padding: 0 18rem;
}
.post, .liked-post{
    width: 70%;
    margin: auto;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    padding: 1rem 0.8rem;
}


@media (min-width: 992px ) and (max-width: 1999.99px) {
    body{
        /* padding: 8rem 0; */
    }
    .posts,.user-likes{
        padding: 0 14rem;
    }
    .post,.liked-post{
        width: 70%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        /* padding: 10rem 0; */
    }
    .posts,.user-likes{
        padding: 0 8rem;
    }
    .post,.user-likes{
        width: 100%;
    }
}
@media (max-width: 767.99px) {
    body{
        /* padding: 12rem 0; */
    }
    .posts, .liked-post{
        padding: 0 2rem;
    }
    .post,.liked-post{
        width: 100%;
    }
    header nav{
        flex-wrap: wrap;
    }
    header nav label input{
        width: 100%;
    }
    header nav label{
        order: 3;
        display: block;
        margin-top: 1rem;
        width: 100%;
    }
}
.post .post-title, .liked-post .post-title{
    border-bottom: 1px solid black;
    color: var(--main-color);
    font-size: 1.6rem;
    text-align: center;
}
.post .votes , .liked-post .votes{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 1.1rem;
    padding: 0 1rem;
}
.post .votes i, .liked-post .votes i{
    cursor: pointer;
    font-size: 1.8rem;
    color: #80D0C7;
}
.post .votes .light, .liked-post .votes .light{
    color: var(--main-color);
}
.post .user-info , .liked-post .user-info{
    display: flex;
    gap: 5px;
    align-self: flex-start;
    padding: 10px ;
    align-items: center;
}
.post img, .liked-post img{
    width: 100%;
    height: 100%;
}
.post .user-info img, .liked-post .user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* error msg */
.error-msg{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #fff;
    border-radius: 10px 40px;
    padding: 1rem 3rem;
}
/* Comments */
.comments{
    background-color: #80D0C7;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}
.comment{
    border: 1p solid var(--main-color);
    padding: 0.8rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}
.comment-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7rem;
}
.comment img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icons{
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    gap: 2px;
}
.icons i{
    cursor: pointer;
    padding: 5px;
}